@model GerenciamentoBovinos.Models.ItemsVendaProduto

<tr>
    <td>
        @Html.DisplayFor(item => item.Produto.NomeProduto)
    </td>
    <td>
        @Html.DisplayFor(item => item.Qtd)
    </td>
    <td>
        @Html.DisplayFor(item => item.ValorUnitario)
    </td>
    <td>
        @Html.DisplayFor(item => item.ValorTotal)
    </td>
</tr>