@{
    ViewBag.Title = "Início";
}

<div class="jumbotron text-center">
    <h1>Sistema de Gerenciamento de Bovinos</h1>
    <p class="lead">Sistema desenvolvido para controle e gerenciamento de bovinos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Algo 1</h2>
        <p>Detalhes 1.</p>
    </div>
    <div class="col-md-4">
        <h2>Algo 2</h2>
        <p>Detalhes 2.</p>
    </div>
    <div class="col-md-4">
        <h2>Algo 3</h2>
        <p>Detalhes 3.</p>
    </div>
</div>