@{
    ViewBag.Title = "Início";
}

<div class="jumbotron text-center">
    <h1>Sistema de Gerenciamento de Bovinos</h1>
    <p class="lead">Sistema desenvolvido para controle e gerenciamento de bovinos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Confinamento</h2>
        <p>Gerencie o consumo e todas despesas relacionadas a cada animal cadastrado no sistema</p>
    </div>
    <div class="col-md-4">
        <h2>Compra de Bovinos</h2>
        <p>Gerencie o valor de compra, peso, idade e detalhes relacionados a cada animal comprado</p>
    </div>
    <div class="col-md-4">
        <h2>Venda de Produtos</h2>
        <p>Gerencie desde o valor do pedido, o cliente atendido, os items que compõem o pedido alem de outros detalhes</p>
    </div>
</div>